body {
    padding: 50px;
}

p {
    margin: 0 20px 0 0;
    cursor: pointer;
}

.list-group-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.complete {
    text-decoration: line-through;
}

@media (max-width:700px) {
    
    body {
        padding: 30px;
    }
    
    .row {
        flex-direction: column;
    }

    .row > div {
        width: 100%;
        margin: 3vh 0 4vh 0;
    }

    .row div:first-child {
        order: 2;
    }

    .row div:last-child {
        order: 1;
    }
} 

@media (max-width: 300px) {
    body {
        padding: 15px;
    }
}